* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	margin: 0 auto;
	background-color: white;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

ol, ul {
  list-style: none;
}


/*Новые блоки на промо-странице*/

.wrp {
	display: block;
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
}

.front-info {
	display: block;
	width: 100%;
	height: auto;
	margin: 10px auto;
	overflow: hidden;
}

.front-desc {
	display: block;
	width: 66%;
	height: 400px;
	margin: 10px;
	overflow: hidden;
	float: left;
}

.front-desc h2 {
	color: #777;
    width: 80%;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.front-desc img {
	display: block;
	width: 50%;
	margin: 10px auto;
	margin-top: 50px;
	overflow: hidden;
}

.front-phone {
	display: block;
	width: 30%;
	height: 400px;
	margin: 10px auto;
	overflow: hidden;
	float: left;
}

.front-phone a {
	text-decoration: none;
	color: #5cb0da;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
	clear: both;
	float: right;
	text-transform: uppercase;
}

.front-phone a:hover {
	color: #246485;
}

.front-menu {
	margin-top: 90px !important;
}

.weoffer {
	display: block;
	width: 100%;
	height: auto;
	margin: 10px auto;
	overflow: hidden;
}

.offer1 {
	display: block;
	width: 66%;
	height: 460px;
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 10px;
	overflow: hidden;
	float: left;
}

.offer1 div {
	display: block;
	width: 100%;
	height: 245px;
	margin: 0;
	overflow: hidden;
}

.offer1 div img {
	display: block;
	width: 100%;
	margin-top: -100px;
}

.offer1 h3 {
	color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 25px auto;
	margin-top: 40px;
    text-align: center;
}

.offer1 p {
	width: 85%;
    line-height: 18px;
    color: #6d6d6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 20px auto;
    text-align: center;
}

.offer2 {
	display: block;
	width: 30%;
	height: 460px;
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 10px;
	overflow: hidden;
	float: left;
}

.offer2 div {
	display: block;
	width: 100%;
	height: 160px;
	margin: 0;
	overflow: hidden;
}

.offer2 div img {
	display: block;
    width: 114%;
    margin-top: -43px;
    margin-left: -18px;
}

.offer-img {
	display: block;
	width: 45px;
	height: 45px;
	margin: 6px;
	margin-left: 14px;
	margin-bottom: 20px;
	overflow: hidden;
	float: left;
	border: 1px solid #aeaeae;
	border-radius: 3px;
	padding: 3px;
}

.offer2 h3 {
	color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 25px auto;
	margin-top: 40px;
    text-align: center;
}

.offer2 p {
	width: 85%;
    line-height: 18px;
    color: #6d6d6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 20px auto;
	margin-bottom: 10px;
    text-align: center;
}

.promo-btn {
	display: block;
	width: 65%;
	height: 40px;
	margin: 10px auto;
	text-align: center;
	border: none;
	background-color: #5cb0da;
	cursor: pointer;
	outline: none;
	color: white;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
	border-radius: 3px;
	text-transform: uppercase;
}

.promo-btn:hover {
	background-color: #326b88;
	color: white;
}

.alaska-features {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px auto;
	overflow: hidden;
}

.alaska-features h2 {
	color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 25px auto;
	margin-top: 40px;
    text-align: center;
}

.alaska-features div {
	display: block;
	width: 30%;
	height: 150px;
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 10px;
	overflow: hidden;
	float: left;
}

.alaska-features div h3 {
	color: #5cb0da;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 15px auto;
    text-align: center;
	text-transform: uppercase;
}

.alaska-features div p {
	width: 85%;
    line-height: 18px;
    color: #6d6d6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 20px auto;
    text-align: center;
}

/*Новые блоки */

.edu-close {
	display: block;
	width: 98%;
	height: 120px;
	margin: 10px auto;
	border-radius: 3px;
    border: 1px solid #dfe9f9;
    background-image: linear-gradient(120deg, #e6f0ff, #fffde5);
    color: #484848;
	overflow: hidden;
}

.edu-close div {
	display: block;
	width: 180px;
	height: auto;
	margin-right: 20px;
	overflow: hidden;
	float: left;
}

.edu-close div h3 {
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #5cb0da;
    margin: 35px 15px;
}

.edu-close h4 {
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
    margin: 19px 20px;
    margin-bottom: 10px;
    color: #484848;
}

.edu-close p {
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 14px 20px;
    color: #484848;
    line-height: 18px;
	line-height: 18px;
}